<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HW5</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/vendor/normalize.css">
    <link rel="stylesheet" href="css/vendor/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <h1>This is HW5</h1>
</div>
<!--/*@thymesVar id="hw5id" type="templates"*/-->
<form method="post" th:action="@{/hw5}" th:object="${hw5id}" class="container container_area_col ai_center">
    <table>
        <tr>
            <td>
                <p>ID: </p>
            </td>
            <td>
                <input type="text" id="id" name="id"/>
            </td>
        </tr>
    </table>
<!--    <p th:if="${#fields.hasErrors('idinput')}" th:errorclass="errorMessage" th:errors="*{idinput}" />-->
    <button type="submit">Check</button>
</form>

</body>
</html>